.input {
  margin-bottom: 16px;
}
.label {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 12px;
}
.tags {
  min-height: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.action {
  display: flex;
}
.renderInput {
  flex-grow: 1;
  margin-right: 16px;
  margin-left: 16px;
}
.select {
  width: 240px;
}
.saveContainer {
  height: 120px;
  overflow-y: auto;
}
.reset {
  margin-top: 16px;
}

.preview{
  min-height: 24px;
}

